body {
  display: flex;
  height: 100vh;
  box-sizing: content-box;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
}

.standard-margin {
  margin-left: 90px;
  margin-right: 90px;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  height: 100px;
  border-bottom: solid 5px black;
}

.articles {
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
  }
}

.contact {
  font-family: 'Roboto', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
