body {
  display: flex;
  height: 100vh;
  box-sizing: content-box;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
}

.standard-margin {
  margin-left: 90px;
  margin-right: 90px;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  flex: 1;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 5px black;
}

.articles {
  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
  }
}

.links {
  .side-featured {
    grid-area: 1/2/3;
  }
}

.contact {
  font-family: 'Roboto', sans-serif;
}

.hero {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: bolder;
  width: 380px;
}
